{#{% extends 'flatpages/default.html' %}#}
{#{% load filters %}#}

{#{% load tags %}#}
{#% extends "base_generic.html" %#}


{% block title %}
Объявления False
{% endblock title %}

{% block content %}

<hr>
{% if announcement_list %}
<h3> Количество объявлений: {{ announcement_list|length }}</h3>
<table>
    <tr>
        <td>Заголовок</td>
        <td>Автор</td>
        <td>Дата создания</td>
        <td>Категория</td>
    </tr>
    {% for p in announcement_list %}
    <tr>
        <!-- Накладываю фильтр -->
        <td>
            <a href="{{ announcement.get_absolute_url }}">{{ p.title }} </a>
        </td>
        <td>{{ p.author }}</td>
        <td>{{ p.time_create|date:'d.m.Y' }}</td>
        <td>{{ p.category }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Объявлений нет!</h2>
{% endif %}
{% endblock content %}