{% extends "base.html" %}
{% load tags %}
{% block header %}
Объявления Поиск
{% endblock header %}


{% block content %}

<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти"/>
</form>

<hr>
<button><a href="{% url 'ann_create' %}">Создать объявление</a></button>
<hr>
{% if announcement_list %}
<h3> Количество объявлений: {{ object_list|length }}</h3>
<table>
    <tr>
        <td>Заголовок</td>
        <td>Автор</td>
        <td>Дата создания</td>
        <td>Категория</td>
    </tr>
    {% for p in announcement_list %}
    <tr>
        <!-- Накладываю фильтр -->
        <td>
            <a href="{% url 'ann_detail' pk=p.id %}">{{ p.title }} </a>
        </td>
        <td>{{ p.author }}</td>
        <td>{{ p.time_create|date:'d.m.Y' }}</td>
        <td>{{ p.category }}</td>
    </tr>
    {% empty %}
    <h3> Объявлений нет</h3>
    {% endfor %}
</table>
{% else %}
<h2>Объявлений нет!</h2>
{% endif %}
{# Добавляем пагинацию на страницу #}

{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
{% endblock content %}

{% block user %}
{{request.user}}
{% endblock user %}