{% extends "base.html" %}
{% load tags %}
{% block header %}Список откликов{% endblock header %}

{% block content %}
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти"/>
</form>

<hr>
{% if comment_list %}
<h3> Количество откликов: {{ comment_list|length }}</h3>
<table>
    <tr>
        <td>Содержание</td>
        <td>Автор</td>
        <td>Дата создания</td>
        <td>статус</td>
        <td>Решение</td>
    </tr>
    {% for p in comment_list %}
    <tr>
        <!-- Накладываю фильтр -->
        <td>{{ p.content }}</td>
        <td>{{ p.author }}</td>
        <td>{{ p.time_create|date:'d.m.Y' }}</td>
        <td>{{ p.get_status_display }}</td>
        <td>
            {% if p.status == 'w' %}
            <button><a href="{% url 'accept' p.id %}">Принять</a></button>
            <button><a href="{% url 'reject' p.id %}">Отказать</a></button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Откликов нет.</h2>
{% endif %}

{# Добавляем пагинацию на страницу #}

{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
<button><a href="{% url 'ann_list' %}">Назад</a></button>
{% endblock content %}